<h2 id="head">📅 Appointment Calendar</h2>

<div class="calendar-wrapper">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<br />

<!-- Table View of Appointments -->
<h3 style="font-size: x-large; margin-top: 30px; text-align: center;"><b>📋 Appointment Table</b></h3>

<div id="tcontrol">
  <table #appointmentTable>
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Doctor ID</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appt of appointments"
        [class.highlight]="selectedDate === appt.date">
      <td>{{ appt.name | titlecase }}</td>
      <td>{{ appt.doctor.name }}</td>
      <td>{{ appt.date | date}}</td>
      <td>{{ appt.time ?? '10:00 AM'}}</td>
    </tr>
  </tbody>
</table>
</div>
